nav {
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

.headline {
  font-family: 'Bungee', cursive;
}

nav div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

span {
  font-family: 'Source Sans Pro', sans-serif;
}

.fa-angles-down {
  color: #ff331f;
  margin-top: 5px;
}