nav {
  width: 100%;
  background-color: #2EC4B6;
  box-shadow: 0 4px 5px 3px rgba(0,0,0,.2);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding-left: 2em;
  padding-right: 2em;
}

.headline {
  font-family: 'Bungee', cursive;
}

nav div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

span {
  font-family: 'Source Sans Pro', sans-serif;
}

.fa-angles-down {
  color: #FFBF69;
  margin-top: 15px;
}

.bounce2 {
  animation: bounce2 2s ease infinite;
}

@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-15px);}
	60% {transform: translateY(-7.5px);}
}