.new-tweet {
  width: 100%;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Source Sans Pro', sans-serif;
}

textarea {
  height: 50px;
  width: 100%;
  background: transparent;
  color: #545149;
  line-height: 20px;
  border: none;
  outline: none;
  border-bottom: 2px solid #545149;
  margin-bottom: 10px;
  font-weight: bold;
}

form div {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

.error {
  border: 2px solid #ff331f;
  color:#ff331f;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  font-size: 18px;
  font-weight: 600;
}

.error i {
  font-size: 14px;
  margin-right: 1em;
  margin-left: 1em;
}

button {
  border: none;
  background-color: #4056A1;
  color: white;
  height: 1.5em;
  width: 5em;
}

button:hover {
  box-shadow: 0.3rem 0.3rem rgba(0, 0, 0, 0.219);
}

.limit {
  color:#ff331f;
}