.new-tweet {
  width: 80vw;
  height: auto;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Source Sans Pro', sans-serif;
  
}

textarea {
  height: 50px;
  width: 100%;
  background: transparent;
  color: #545149;
  line-height: 20px;
  border: none;
  outline: none;
  border-bottom: 2px solid #545149;
  margin-bottom: 10px;
  font-weight: bold;
}

div {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

button {
  border: none;
  background-color: #4056A1;
  color: white;
  height: 1.5em;
  width: 5em;
}

button:hover {
  box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.219);
}

.limit {
  color:#ff331f;
}