.new-tweet {
  width: 100%;
  padding-left: 0.5em;
  padding-bottom: 30px;
  color: #545149;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Source Sans Pro', sans-serif;
}


textarea {
  height: 60px;
  width: 100%;
  color:#545149;
  background: transparent;
  line-height: 20px;
  border: none;
  outline: none;
  border-bottom: 2px solid #545149;
  margin-bottom: 10px;
  font-weight: bold;
}

form div {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

.error {
  color:#FF9F1C;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.error i {
  font-size: 14px;
  margin-right: 1em;
  margin-left: 1em;
}

button {
  border: none;
  background-color: #FFBF69;
  color: white;
  padding: 0.6rem;
  border-radius: 10px;
}

button:hover {
  box-shadow: 1px 2px 3px rgba(0,0,0,.2);
}
